.hero {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
    font-size: 30px;
    
}
.hero button{
    background-color: palegreen;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
}
.hero img{
    width: 100%;
    height: 400px;
}
.body{
    max-width: 1270px;
    background-color: yellowgreen;
    margin: 0 auto;

}



.card{
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
}
.card img{
    width: 100%;
   
    border-radius: 10px;
}
.card button{
    background-color: orange;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
}
.main{
    max-width: 1170px;
    margin: 0 auto;
    
}