nav{
    background-color: black;
    height: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
nav ul li a:hover{
    text-decoration: underline;
}

.h




